/* Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

/* Variable */
:root {
	/* Color */
	--primaryColor: #5cdb95;
	--secondaryColor: #05386b;
	--tertiaryColor: #379683;
	--darkColor: #333;
	--lightColor: #edf5e1;
	--primaryBgcTextColor: var(--secondaryColor);
	--secondaryBgcTextColor: var(--lightColor);

	/* Sizes */
	--navbarHeight: 70px;
	--footerHeight: 60px;
}

/* Reboot */
* {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
	box-sizing: border-box;
}
html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	position: relative;
	min-height: 100%;
	background-color: var(--primaryColor);
	color: var(--darkColor);
	line-height: 1.6;
	padding: var(--navbarHeight) 0 var(--footerHeight);
}
input[type='text'] {
	font-size: 1rem;
	padding: 10px;
	background-color: var(--lightColor);
	border: none;
	border-radius: 0.3rem;
}
button {
	font-size: 1rem;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--darkColor);
}
img {
	width: 100%;
}
h1,
h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

/* Main style */
/* Navbar */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--secondaryColor);
	color: var(--secondaryBgcTextColor);
	height: var(--navbarHeight);
}
.logo {
	color: var(--primaryColor);
	margin: 10px;
	cursor: pointer;
}
.logo:hover {
	border-bottom: 2px var(--primaryColor) solid;
}

/* Recipe search */
.recipe-search .form-control {
	margin: 30px 0;
}
.recipe-search input[type='text'] {
	color: var(--secondaryColor);
}
.recipe-search input[type='text']:focus {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.recipe-search .btn {
	background-color: var(--secondaryColor);
	color: var(--secondaryBgcTextColor);
}

/* Recipe list */
.recipe-list .grid {
	grid-template-columns: repeat(3, 1fr);
	padding: 20px 0;
}
.recipe-list .card {
	height: 100%;
	padding: 0;
	overflow: hidden;
}
.recipe-list .flex {
	flex-direction: column;
}
.recipe-list .card > a,
.recipe-list .container div a:first-child {
	color: var(--primaryColor);
	transition: color 0.3s;
}
.recipe-list .container div a:first-child:hover {
	color: var(--tertiaryColor);
}
.recipe-list .card div {
	padding: 20px;
}
.recipe-list .card div ul {
	margin-bottom: 20px;
}

/* Footer */
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--secondaryColor);
	color: var(--secondaryBgcTextColor);
	height: var(--footerHeight);
}
.footer a {
	color: var(--primaryColor);
}
.footer a:hover {
	border-bottom: 2px var(--primaryColor) solid;
}

/* Up */
.up {
	position: fixed;
	bottom: var(--footerHeight);
	right: 20px;
	margin-bottom: 20px;
}
.up .btn {
	background-color: var(--secondaryColor);
	color: var(--secondaryBgcTextColor);
	opacity: 0.9;
	padding: 10px 20px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* Utilities */
/* Button */
.btn {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background-color: var(--primaryColor);
	color: var(--primaryBgcTextColor);
	border: none;
	border-radius: 5px;
}
.btn:hover {
	transform: scale(0.98);
}

/* Card */
.card {
	background-color: var(--secondaryColor);
	color: var(--lightColor);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}

/* Container */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 40px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 100%;
}
